h1 {
    
    padding: 2px;
    
}

footer {
  
    text-align: center;
    background-color:rgba(50,50,50,0.6) ;
    
}

canvas {
    background-color:rgba(50,50,50,0.6) ;
    width: 50%;
    margin: auto;
    position: relative;
    border: 3px solid;
    border-radius: 15px;
    
  }

  li {
    padding: 5px;
  }

  p,li {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 20px;

  }

  section{
    padding: 3px;
  }