body {
    display: grid;
}

.analyse {
    align-self: center;
    display: flex; gap: 2rem;
    align-items: center;
}
.analyse img {
    width: 150px;
    height: 120px;
}
h1 {
    line-height: 2ch;
    font-size: 3rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;
}

