 .chart-container p{
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }


 h2{
    color: #bfcfef;
    text-align: center;
    margin:0rem;
    text-decoration: underline;
    line-height: 1.6;

 }


body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    align-content: start;
    text-align: center;

}

p{
    text-align: justify;
}

h3{

    text-decoration: underline;
    color: rgb(196, 223, 247);

}
 li{
    text-align: justify;
}

